<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/flaskapp">Home</a></li>
            <li><a href="/flaskapp/engineering">Engineering</a></li>
            <li><a href="/flaskapp/history">History</a></li>
            <li><a href="/flaskapp/settings">Settings</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}
        <h1>Home page</h1>
        <div class="billing">
            <p>This page is used for Element47</p>
            <p>--------------------------------</p>
            <p>Engineering: check the real time data</p>
            <p>History: check data log </p>
            <p>Setting: setting meter ip or meter slave</p>
        </div>
        {% endblock %}
    </div>
</body>

</html>